@model Calendario.Models.Eventos
@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header text-center">
            <h5> Editar Evento</h5>
        </div>
        <div class="card-body text-center">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="EventId" />

                <div class="form-group">
                    <label>Título</label>
                    <input asp-for="Titulo" class="form-control" placeholder="Título" />
                    <span asp-validation-for="Titulo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Fecha Inicio</label>
                    <input asp-for="FechaInicio" type="datetime-local" class="form-control" />
                    <span asp-validation-for="FechaInicio" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Fecha Fin</label>
                    <input asp-for="FechaFin" type="datetime-local" class="form-control" />
                    <span asp-validation-for="FechaFin" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Descripción</label>
                    <textarea asp-for="Descripcion" class="form-control" placeholder="Descripción"></textarea>
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Ubicación</label>
                    <textarea asp-for="Ubicacion" class="form-control" placeholder="Ubicación"></textarea>
                    <span asp-validation-for="Ubicacion" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Color</label>
                    <input asp-for="Color" type="color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>

                <div class="card-footer">
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Guardar</button>
                        <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
